/node_modules/
local.db

# web
web/.svelte-kit
web/dist
# ??
web/node_modules/.mf
web/node_modules/.vite-temp

# env
.env
.envrc
.direnv

# etc
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
