/node_modules/
local.db

# web
web/.svelte-kit
web/dist
# ??
web/node_modules/.mf
web/node_modules/.vite-temp
web/node_modules/.svelte2tsx-language-server-files

# env
.env
.envrc
.direnv

# etc
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
